.Introduction{
    position:absolute;
    top:400px;
    left:60px;
    color:white;
}
.phone{
    font-weight:bold;text-align:start;flex:none;width:50%
}
.desktop{
    font-weight:bold;text-align:start;flex:auto
}
.hi{
    display:flex
}
@media(max-width:500){
    .phone{
        display:block
    }
    .desktop{
        display:none
    }
}